extends layout

block content
    main
        section.hero
            div.row
                div.small-12.medium-7.large-8.columns
                    h1 #{playlistTitle}
                    p #{playlistDescription}
                div.small-12.medium-5.large-4.columns
                    form(method='POST' action='/user/create-track').small-12.columns.create
                        if createError !== ""
                            label.error #{createError}
                        else
                            label Add a new track.
                        input(type='text', placeholder='Title', name='title', required)
                        input(type='text', placeholder='Artist', name='artist')
                        input(type='text', placeholder='Album', name='album')
                        input(type='url', placeholder='Url', name='url', required)
                        span.flex    
                            select(name='service', required)
                                option(value='' selected='true' disabled='true') -- Select Service --
                                option(value='soundcloud') SoundCloud
                                option(value='spotify') Spotify
                                option(value='other') Other
                            button(type='submit') Create
                                span.fa.fa-plus-circle
        section.tracks
            div.row
                each track in tracks
                    div.small-12.medium-4.large-3.columns 
                        div.track
                            p #{track.title}
                            if track.arist
                                p #{track.artist}
                            if track.album
                                p #{track.album}
                            if track.service === 'soundcloud'
                                iframe(src='https://w.soundcloud.com/player/?url=' + track.url width='100%' height='115' scrolling='no' frameborder='no')
                            else if track.service === 'spotify'
                                iframe(src='https://embed.spotify.com/?uri=' + track.url width='100%' height='80' frameborder='0' allowtransparency='true')
                            else
                                a(href=track.url)
                            a(href='/user/delete-track/' + track.id) Delete